@-moz-document url-prefix("http://e-shuushuu.net/")
{
/*
E-shuushuu Customizable CSS
rev20191011-2338*/
  html
  {
    background: /*[[bg-opacity]]*//*[[bgc]]*/url('/*[[bg]]*/') !important;
/*[[bgr]]*/
    background-attachment: fixed!important;
    background-position: center!important;
  }


/*[[tranf]]*/ /*[[shuu-bnr]]*/ /*[[app]]*/ /*[[effect]]*/

  #banner a
  {
    position: absolute;
/*[[banner-img]]*/;
  }

  #banner:after
  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/*[[bnr-img]]*/')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: /*[[bn-opacity]]*/;
z-index: 0;
  }
}

@-moz-document url-prefix("http://e-shuushuu.net/")
{
/*Elements Shadow*/
  #donations .graph,
select
  {
    box-shadow: 1px 1px 4px /*[[elmsh]]*/;
  }

  #head,
#sorting_controls,
#footer,
.thumb img,
.post .avatar img,
.display,
.pagination .next,
.pagination .prev,
.pagination .first,
.pagination li,
input.button,
div#app img,
div#content p img,
div.search_suggest_div,
div.search_suggest_div ul,
div.tooltip,
form.norm,
table,
input.text,
textarea,
.notice
  {
    box-shadow: /*[[elmsht]]*//*[[elmsh]]*/}

/*Border Color*/
header,
#head,
#sorting_controls,
#footer,
.display,
.notice,
form.norm,
input.text,
div.search_suggest_div ul
{
border: /*[[1px]]*/ /*[[bds]]*//*[[border]]*/!important;
    border-bottom: /*[[1px]]*//*[[bds]]*//*[[border]]*/!important;
  }

  #top_info, #banner
  {
    border-bottom: /*[[1px]]*//*[[bds]]*//*[[border]]*/!important;
  }

  #donations .graph,
select,
textarea,
input.button,
fieldset,
div.noarticletext,
table.narrow,
table,
.thumbview .display,
.pagination .next,
.pagination .first,
.pagination .prev,
.post blockquote,
.post .spoiler,
.pagination li,
form.norm input
  {
    border: /*[[1px]]*//*[[bds]]*//*[[border]]*/!important;
  }

  .post_foot
  {
    border-top: /*[[1px]]*//*[[bds]]*//*[[border]]*/!important;
  }

  .post .meta
  {
    border-top: /*[[1px]]*/dashed /*[[border]]*/!important;
  }

  .post .avatar
  {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: transparent;
  }

  .spoiler
  {
    background: rgba(128, 128, 128, 0.5)!important;
  }

  .alert
  {
    background: rgba(0,128,128,0.5)!important;
  }

  tbody tr
  {
    background: rgba(92,92,92,0.5);
  }

  select
  {
    background: /*[[select]]*/!important;
  }


/*Plain Text*/
  p,
body,
div.tooltip,
input.text,
select,
textarea,
.post .spoiler.show dd,
#query,.panel-container h3
  {
    color: /*[[csa]]*/!important;
    text-shadow: 1px 1px 4px /*[[elmsh]]*/;
  }

/*Hyperlink Text*/
  a:link,
a:visited,
.pagination,
.display h2,
#donations h2,
form.norm h2,
#content h1,
h1,
h2,
div.search_suggest_div ul,
input.button,
form.norm input
  {
    color: /*[[textcolor]]*/!important;
    text-shadow: 1px 1px 4px /*[[elmsh]]*/;
  }

/*Elements color*/
  #head,
#sorting_controls,
#footer,
#donations .graph,
.display,
.display h2,
.display h3,
.image_block .meta,
.pagination li,
.notice,
form.norm h2,
form.norm h3,
form.norm,
form.norm input,
dl.spoiler.hide,
input.button,
div#content table,
#masstags_form input.text
  {
    background: /*[[csc]]*/!important;
  }

/*Title bar, form color*/
  #sidebar .display h2,
h3,
form.norm h2,
form.norm h3,
tfoot,
thead,
.display h2,
.display h3,
.title,
.post blockquote
  {
    background: /*[[csb]]*/!important;
  }

/*readability*/
  .image_block .meta,
input.text,
textarea
  {
    background: /*[[readability]]*/!important;
  }

/*Elements' background below are disabled by default to achieve transparency effect*/
p,
.display .title h2,
.display .title h3,
.display dl,
.odd,
.post .content,
.post .spoiler,
.post_foot,
.post .avatar,
#banner,
form.norm input,
#masstags_form,
.minitabs .tab > a
{
background:transparent !important;
}

.display dl
{
border-left: 10em solid transparent !important;
}

.thumbview .display
{
border-width: 0 0 0 1px;
}

div.search_suggest_div,
div.search_suggest_div ul,
div.search_suggest_div li.close,
div.tooltip
{
background:/*[[menucolor]]*/!important;
}

a.admin,
span.admin{
color:/*[[admin]]*/!important;
}
a.tagger,
span.tagger{
color:/*[[tagger]]*/!important;
}
a.moderator,
span.moderator{
color:/*[[mod]]*/!important;
}
a.reg_user
{
color:/*[[reg_user]]*/!important;
}
}

@-moz-document url-prefix("http://e-shuushuu.net/images/"), url-prefix("http://e-shuushuu.net/common/css"),url-prefix("http://e-shuushuu.net/images/deactivated")/*[[no-bg]]*/ {
html{
background:black!important;
}/*This prevent custom backgroumd image interfering with images*/
}

@-moz-document url-prefix("http://e-shuushuu.net/forums/") {

/*[[forum-banner]]*/

table,
img
{
box-shadow: none
}

/*Buttons/Boxes Shadow*/
.post,
.btnbbcode,
.helpline,
.btnmain,
input.btnlite
{
box-shadow: 1px 1px 4px /*[[elmsh]]*/ 
}
.tablebg,.indentmenu
{
box-shadow: /*[[elmsht]]*/ /*[[elmsh]]*/
}

body,
th,
tr,
.catdiv,
.cat,
.btnlite,
.row1,
.row2,
.row3,
.spacer,
.helpline,
.btnbbcode,
.btnmain,
.btnfile,
.wrap,
.navbar,
.headerbar,
ul.forums,
.forabg,
h3,
.panel,
.dropdown .dropdown-contents,
.forumbg,
.bg1,
.bg2,
.button,
.tabs .activetab > a,
.tabs .tab > a,
.navigation .active-subsection a,
.navigation a,
.cp-mini,
.dropdown-extended .header
{
background:  /*[[bgc]]*/ !important
}

.headerbar,
.forabg,
.button,
.dropdown-extended .header
{
background-image :none !important;
}

/*Background Color/transparency option on Forum*/
.tablebg,
.indentmenu ul,
.post,
.codecontent
{
background: /*[[csc]]*/ !important
}

.quotetitle,
.attachtitle,
.quotecontent,
.attachcontent,
.codetitle
{
background: /*[[csb]]*/ !important;
color: /*[[csa]]*/ !important;
border-color: /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/
}
 
b,
p.moderators,
.postauthor,
.nav,
.copyright,
.postdetails,
.post,
.helpline,
.btnbbcode,
.codecontent,
span.username-coloured,
.content,
ul.topiclist li,
label,
.panel,
dl.faq dt,
table.table1 td,
.postprofile strong,
.postprofile,
.postbody,
dl.details dt,
.panel-container .panel li.header dt,
li.row strong,
.dropdown-extended .header
{	
color: /*[[csa]]*/!important
}
#wrapper,
.tablebg,
.row1,
.row2,
.indentmenu ul li a,
.indentmenu ul,
th,
input
{
border: /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/ !important
}
th,
.btnlite,
.btnmain,
.btnfile,
.indentmenu ul li a
{
color: /*[[textcolor]]*/ !important
}
table
{
border:none!important
}

/*Text Shadow on Forum*/
input.btnlite,
.btnmain,
.btnbbcode,
.helpline,
.post
{
text-shadow: 1px 1px 4px /*[[elmsh]]*/ ;
}
textarea
{
background: /*[[readability]]*/!important
}

}

@-moz-document url-prefix("http://e-shuushuu.net/wiki/") {

/*[[wiki-img]]*/

#gumax-nav li.hover a,
#gumax-nav ul li a
{
background-color: /*[[csb]]*/ ;
border-bottom:  /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/ ;
}
#gumax-nav a.hover,
#gumax-nav ul a.hover
{
background-color:rgba(64, 64, 64, 0.8)
}

#pagehistory li,
.wikitable th,
.wikitable td,
.tablebg,
.catlinks,
.mw-search-formheader,
table,
fieldset#mw-searchoptions,
#gumax-p-search form #searchInput,
#gumax-p-search form #searchGoButton,
#gumax-p-search form #mw-searchButton,
div#userloginForm form,
input#mwProtect-reason,
input#mwProtect-create-expires,
input#wpLoginAttempt,
input#wpMailmypassword,
input#wpSave,
input#wpDiff,
input#wpPreview,
input#wpSummary,
input#mw-Protect-submit,
div.mw-warning-with-logexcerpt
{
border:  /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/ !important
}

.errorbox,
#gumax-page,
#gumax-special-tools ul li a,
#gumax-credit-list ul li a,
#contentSub, #contentSub2,
#footer,
#gumax-nav,
#pagehistory li,
#gumax-footer,
div.tooltip,
td.gumax-content-td-center,
td.gumax-content-td-topleft,
td.gumax-content-td-topright,
li.selected a,
div.noarticletext,
td,
form,
tr,
li,
label,
h4,
input#mwProtect-reason,
input#mwProtect-create-expires,
input#wpLoginAttempt,
input#wpMailmypassword,
input#wpSave,
input#wpDiff,
input#wpPreview,
input#wpSummary,
input#mw-Protect-submit
{
background: transparent !important;
color: /*[[csa]]*/ !important;
}

.catlinks,
.autocomment,
.newpage,
.minor,
.bot,
input,
textarea
{
color: /*[[csa]]*/ !important;
}

h2,
h3,
th,
li,
a,
#bodyContent a.external,
#preftoc a,
#gumax-p-login ul li a,
#gumax-content-actions ul li a,
.mw-search-formheader div.search-types ul li.current a,
.gumax-firstHeading
{
color:/*[[textcolor]]*/
}

body,
h2,
h3,
tbody tr,
table,
fieldset#mw-searchoptions,
#preferences,
#toc,
#gumax-content-actions ul li.selected a,
#gumax-content-actions ul li a,
.mw-search-formheader,
.catlinks,
.prefsection legend,
div#content table
{
background:none!important
}

/*readability*/
textarea#wpTextbox1,input,#bodyContent{
background: /*[[readability]]*/ !important
}

table,
table.gumax-content-table,
.wikitable th,
#gumax-p-search form #searchGoButton,
#gumax-p-search form #searchInput,
#gumax-p-search form #mw-searchButton
{
background: /*[[csc]]*/ !important;
}

#gumax-nav a,
#gumax-p-search form #searchGoButton,
#gumax-p-search form #searchInput,
#gumax-p-search form #mw-searchButton
{
text-shadow: 1px 1px 4px /*[[elmsh]]*/ ;
color: /*[[csa]]*/
}
#gumax-p-search form #searchGoButton,
#gumax-p-search form #searchInput,
#gumax-p-search form #mw-searchButton
{
box-shadow: 1px 1px 4px /*[[elmsh]]*/
}

input,
input.historysubmit,
input#mwProtect-reason,
input#mwProtect-create-expires,
input#wpLoginAttempt,
input#wpMailmypassword,
input#wpSave,
input#wpDiff,
input#wpPreview,
input#wpSummary,
input#mw-Protect-submit
{
text-shadow: 1px 1px 4px /*[[elmsh]]*/ ;
box-shadow: 1px 1px 4px /*[[elmsh]]*/ ;
border:  /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/ !important
}

#content
{
border: none;
border-top:  /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/;
border-bottom: /*[[1px]]*/ /*[[bds]]*/ /*[[border]]*/;
color: /*[[csa]]*/ !important
}

/*Restore the Origina text Color Scheme from Shuu Default CSS*/
a:visited {
color: #bd96ff;
}
a:active {
color: #faa700;
}
a:hover {
text-decoration: underline;
}
a.stub {
color: #772233;
}
a.new, #p-personal a.new {
color: red;
}
a.new:visited, #p-personal a.new:visited {
color: #a55858;
}
.mw-plusminus-pos {
color: #00bf00;
}
  
}

@-moz-document url-prefix("https://qchat.rizon.net/") {
div.tabbar,
div,
a.tab.tab-unselected,
a.tab.tab-selected,
.qwebirc-qui .lines,
.topic,
.qwebirc-qui .topic,
.qwebirc-qui .nicklist,
.qwebirc-qui .nicklist a,
.qwebirc-qui .input input.keyboard-input
{
background: /*[[csc]]*/ !important;
color: /*[[csa]]*/ !important;
text-shadow: 1px 1px 4px /*[[elmsh]]*/ ;
}

span.Xc7 a {color: /*[[textcolor]]*/ !important;}
}

@-moz-document url-prefix("http://e-shuushuu.net/") {
/*[[font]]*/ /*[[css-trans]]*/
/*[[effect]]*/ }
