@-moz-document url-prefix("http://e-shuushuu.net/") {
/*
E-shuushuu Default Dark
rev20160909
*/

/*[[tranf]]*/

/*[[shuu-bnr]]*/

/*Border Color*/
header, #head, #sorting_controls, #footer,
.display, .notice, form.norm, input.text,
div.search_suggest_div ul
{
	border: 1px /*[[bds]]*//*[[border]]*/!important;
	border-bottom: 1px /*[[bds]]*//*[[border]]*/!important;
}
#top_info, #banner
{
border-bottom: 1px /*[[bds]]*//*[[border]]*/!important;
}
select, textarea,
input.button,
.thumbview .display,
input.button,
/*Buttons*/
.pagination .next, .pagination .first, .pagination .prev,
/*wiki*/
fieldset,
div.noarticletext,
.post blockquote,
.post .spoiler,
table.narrow,
#donations .graph,
table,
.pagination li
{
	border: 1px /*[[bds]]*//*[[border]]*/!important;
}
.tablebg
{
background-color:/*[[csc]]*/!important;
}

.post_foot
{
	border-top:2px /*[[bds]]*//*[[border]]*/!important;
}
.post .meta
{
	border-top:1px dashed /*[[border]]*/!important;
}

.post .avatar
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: transparent;
}
.spoiler
{
background: rgba(128, 128, 128, 0.5)!important;
}
.alert
{
	background :rgba(0,128,128,0.5)!important;
}
tbody tr
{
background: rgba(92,92,92,0.5);
}
select
{
	background: /*[[select]]*/!important;
}


/*Plain Text*/
body,
div.tooltip,
div#content,
p,
input.text,
.post .spoiler.show dd,
select,
textarea
{
color: /*[[csa]]*/!important;
text-shadow: 1px 1px 4px black;
}

/*Hyperlink Text*/
a:link,
a:visited,
h1,
span.reg_user,
div.search_suggest_div ul,
input.button
{
color: /*[[textcolor]]*/ ;
text-shadow: 1px 1px 4px black;
}

/*Elements color*/
#head,
.display,
form.norm,
.image_block .meta,
dl.spoiler.hide,
.pagination li,
#sorting_controls,
#footer,.notice,
input.button,
#donations .graph

{
	background: /*[[csc]]*/!important;
}
p
{
	background-color:transparent!important;
}

/*Title bar, form color*/
.display h2,
.display h3,
.title,
form.norm h2,
form.norm h3,
h3,
input.text,
tfoot,
.post blockquote,
#sidebar .display h2,
tfoot, thead
{
	background: /*[[csb]]*/!important;
}
  
.display .title h2, .display .title h3,
.post .content, .post blockquote, .post .spoiler, .post_foot,
.image_block .meta,
form.norm ul,
textarea, form.norm input, #masstags_form input.text
{
	background:none!important;
}

.display dl
{
	border-left: 10em solid transparent;
}

.odd,#content,p.meta,body
{
	background: transparent !important;
}
.thumbview .display
{
	border-width: 0 0 0 1px;
}

div.search_suggest_div,
div.search_suggest_div ul,
div.search_suggest_div li.close,
div.tooltip
{
	background:/*[[menucolor]]*/!important;
}

a.admin,
span.admin{
	color:/*[[admin]]*/!important;
}
a.tagger,
span.tagger{
	color:/*[[tagger]]*/!important;
}
a.moderator,
span.moderator{
	color:/*[[mod]]*/!important;
}
a.reg_user
{
	color:/*[[reg_user]]*/!important;
}

/*[[effect]]*/

/*[[carbon]]*/

}

@-moz-document url-prefix("http://e-shuushuu.net/images/") {
html{
	background:black
}
}

@-moz-document url-prefix("http://e-shuushuu.net/forums/") {

/*[[remv]]*/

table,
tbody tr
tbody,tr,th,
td.row3,
.catdiv,.cat,
.post,.btnlite
{
background:none!important;
}
.tablebg,
.indentmenu ul
{
background: /*[[csc]]*/ !important
}

.row1,.row2,.spacer,.helpline,.btnbbcode,.btnmain,.btnfile
{
background-color:transparent!important
}
.quotetitle,
.quotecontent
{
background: /*[[csb]]*/!important;
color:/*[[csa]]*/!important
}
  
.quotecontent,.quotetitle
{
border-color: /*[[border]]*/
}
 
b,
.postauthor,
.nav,
.copyright,
p.moderators,
.postdetails,
span.username-coloured,
.post,
.helpline,
.btnbbcode
{	
	color: /*[[csa]]*/!important
}
.tablebg,.row1,.row2,.indentmenu ul li a,th,
#wrapper, .indentmenu ul,input
{
border: 1px /*[[bds]]*/ /*[[border]]*/ !important
}
th,.btnlite,.btnmain,.btnfile,.indentmenu ul li a
{
color: /*[[textcolor]]*/ !important
}
table{border:none!important}
}

@-moz-document url-prefix("http://e-shuushuu.net/wiki/") {
/*[[remv]]*/

/*[[wiki-img]]*/

#gumax-nav li.hover a, #gumax-nav ul li a {
	background-color: /*[[textcolor]]*/ ;
	border-bottom: 1px /*[[bds]]*/ /*[[border]]*/ ;
}

#gumax-nav a.hover, #gumax-nav ul a.hover {
	background-color:rgba(64, 64, 64, 0.8)
}

.wikitable th, .wikitable td,
.tablebg, table,
#pagehistory li,
.catlinks,
fieldset#mw-searchoptions,
.mw-search-formheader
{
	border: 1px /*[[bds]]*/ /*[[border]]*/ !important
}
div.mw-warning-with-logexcerpt
{
border:2px /*[[bds]]*/ /*[[border]]*/!important
}

#gumax-page,
textarea,
div.tooltip,
#footer,
div#content,
td.gumax-content-td-center,
td.gumax-content-td-topleft,
td.gumax-content-td-topright,
#gumax-footer,
li.selected a,
#gumax-nav,
#pagehistory li,
div.noarticletext,
td,
form,
tr,
li,
label,
textarea#wpTextbox1,
h4,
#gumax-special-tools ul li a,
#gumax-credit-list ul li a,
#contentSub, #contentSub2,
input
{
	background: transparent !important;
	color: /*[[csa]]*/ !important;
}

.catlinks,
.autocomment,
.newpage,
.minor,
.bot
{
	color: /*[[csa]]*/ !important;
}

h1,
h2,
h3,
th,
li,
a,
a.external,
#preftoc a,
#gumax-p-login ul li a,
.mw-search-formheader div.search-types ul li.current a,
#gumax-content-actions ul li a
{
    color:/*[[textcolor]]*/
}

#preferences,
#toc,
h2,h3,
.mw-search-formheader,
#gumax-content-actions ul li.selected a,
#gumax-content-actions ul li a,
tbody tr,
.catlinks,
.prefsection legend,
fieldset#mw-searchoptions
{
    background:none!important
}
.wikitable th,
table
{
background: /*[[csc]]*/ !important;
}
.mw-search-formheader div.search-types ul li.current a,
.gumax-firstHeading
{
	color:/*[[textcolor]]*/ !important
}

#gumax-nav a
{
text-shadow: 1px 1px 4px black;
}

#content
{
    border: none;
    border-top: 1px /*[[bds]]*/ /*[[border]]*/;
    border-bottom: 1px /*[[bds]]*/ /*[[border]]*/;
}

a:visited {
	color: #bd96ff;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}
.mw-plusminus-pos {
	color: #00bf00;
}
  
}
@-moz-document url-prefix("https://qchat.rizon.net/") {
.qwebirc-qui .lines,
.topic,
div.tabbar,
div,
a.tab.tab-unselected,
a.tab.tab-selected,
.qwebirc-qui .topic,
.qwebirc-qui .nicklist,
.qwebirc-qui .nicklist a,
.qwebirc-qui .input input.keyboard-input
{
background: /*[[csc]]*/ !important;
color: /*[[csa]]*/ !important;
text-shadow: 1px 1px 4px black;
}

span.Xc7 a
{
color: /*[[textcolor]]*/ !important;
}
}
