@-moz-document url-prefix("http://e-shuushuu.net/") {
/*
E-shuushuu Default Dark
rev20160914
*/

/*[[tranf]]*/

/*[[shuu-bnr]]*/

/*Elements Shadow*/
#head,
#donations .graph,
#sorting_controls,
#masstags_form input.text,
#footer,
.thumb img,
.post .avatar img,
.display,
.pagination .next,
.pagination .prev,
.pagination .first,
.pagination li,
input.button,
div#app img,
div.search_suggest_div,
div.search_suggest_div ul,
div.tooltip,
form.norm, table,
input.text,
select,
textarea,
ul.notice
{
box-shadow: 1px 1px 4px /*[[elmsh]]*/
}

/*Border Color*/
header,
#head,
#sorting_controls,
#footer,
.display,
.notice,
form.norm,
input.text,
div.search_suggest_div ul
{
border: 1px /*[[bds]]*//*[[border]]*/!important;
border-bottom: 1px /*[[bds]]*//*[[border]]*/!important;
}

#top_info, #banner
{
border-bottom: 1px /*[[bds]]*//*[[border]]*/!important;
}

#donations .graph,
select, textarea,
input.button,
fieldset,
div.noarticletext,
table.narrow,
table,
.thumbview .display,
.pagination .next,
.pagination .first,
.pagination .prev,
.post blockquote,
.post .spoiler,
.pagination li
{
border: 1px /*[[bds]]*//*[[border]]*/!important;
}

.tablebg
{
background-color:/*[[csc]]*/!important;
}

.post_foot
{
border-top:2px /*[[bds]]*//*[[border]]*/!important;
}
.post .meta
{
border-top:1px dashed /*[[border]]*/!important;
}
.post .avatar
{
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background: transparent;
}
.spoiler
{
background: rgba(128, 128, 128, 0.5)!important;
}
.alert
{
background :rgba(0,128,128,0.5)!important;
}
tbody tr
{
background: rgba(92,92,92,0.5);
}
select
{
background: /*[[select]]*/!important;
}


/*Plain Text*/
p,
body,
div.tooltip,
div#content,
input.text,
select,
textarea,
.post .spoiler.show dd
{
color: /*[[csa]]*/!important;
text-shadow: 1px 1px 4px /*[[txtsh]]*/ ;
}

/*Hyperlink Text*/
a:link,
a:visited,
h1,
div.search_suggest_div ul,
input.button
{
color: /*[[textcolor]]*/ ;
text-shadow: 1px 1px 4px /*[[txtsh]]*/ ;
}

/*Elements color*/
#head,
#sorting_controls,
#footer,
#donations .graph,
.display,
.display h2,
.display h3,
.image_block .meta,
.pagination li,
.notice,
form.norm h2,
form.norm h3,
form.norm,
dl.spoiler.hide,
input.button
{
background: /*[[csc]]*/!important;
}

/*Title bar, form color*/
#sidebar .display h2,
h3,
form.norm h2,
form.norm h3,
tfoot,
thead,
.display h2,
.display h3,
.title,
.post blockquote
{
background: /*[[csb]]*/!important;
}

/*Optional transparency*/
.image_block .meta,
.quick_reply textarea,
#masstags_form input.text,
input.text,
textarea
{
background: /*[[readability]]*/ !important;
}

/*Elements' background below are disabled by default to achieve transparency effect*/
p,
.display .title h2,
.display .title h3,
.odd,
.post .content,
.post blockquote,
.post .spoiler,
.post_foot
{
background:none!important;
}

.display dl
{
border-left: 10em solid transparent;
}

.thumbview .display
{
border-width: 0 0 0 1px;
}

div.search_suggest_div,
div.search_suggest_div ul,
div.search_suggest_div li.close,
div.tooltip
{
background:/*[[menucolor]]*/!important;
}

a.admin,
span.admin{
color:/*[[admin]]*/!important;
}
a.tagger,
span.tagger{
color:/*[[tagger]]*/!important;
}
a.moderator,
span.moderator{
color:/*[[mod]]*/!important;
}
a.reg_user
{
color:/*[[reg_user]]*/!important;
}

/*[[effect]]*/

/*[[carbon]]*/

}

@-moz-document url-prefix("http://e-shuushuu.net/images/") {
html{background:black}
/*This prevent custom backgroumd image interfering with images*/
}

@-moz-document url-prefix("http://e-shuushuu.net/forums/") {

/*[[remv]]*/

table,img{
box-shadow: none
}

.tablebg, .post, input.btnlite{
box-shadow: 1px 1px 4px /*[[elmsh]]*/
}

table,
tbody tr
tbody,tr,th,
td.row3,
.catdiv,.cat,
.post,.btnlite
{
background:none!important;
}
.tablebg,
.indentmenu ul
{
background: /*[[csc]]*/ !important
}

.row1,
.row2,
.spacer,
.helpline,
.btnbbcode,
.btnmain,
.btnfile
{
background-color:transparent!important
}
.quotetitle,
.quotecontent
{
background: /*[[csb]]*/!important;
color:/*[[csa]]*/!important
}
  
.quotecontent,
.quotetitle
{
border-color: /*[[border]]*/
}
 
b,
p.moderators,
.postauthor,
.nav,
.copyright,
.postdetails,
.post,
.helpline,
.btnbbcode,
span.username-coloured
{	
color: /*[[csa]]*/!important
}
#wrapper,
.tablebg,
.row1,
.row2,
.indentmenu ul li a,
.indentmenu ul,
th,
input
{
border: 1px /*[[bds]]*/ /*[[border]]*/ !important
}
th,
.btnlite,
.btnmain,
.btnfile,
.indentmenu ul li a
{
color: /*[[textcolor]]*/ !important
}
table
{
border:none!important
}
.btnmain,input.btnlite {
text-shadow: 1px 1px 4px /*[[txtsh]]*/ ;
}
}

@-moz-document url-prefix("http://e-shuushuu.net/wiki/") {
/*[[remv]]*/

/*[[wiki-img]]*/

#gumax-nav li.hover a,
#gumax-nav ul li a
{
background-color: /*[[textcolor]]*/ ;
border-bottom: 1px /*[[bds]]*/ /*[[border]]*/ ;
}
#gumax-nav a.hover,
#gumax-nav ul a.hover
{
background-color:rgba(64, 64, 64, 0.8)
}

#pagehistory li,
.wikitable th,
.wikitable td,
.tablebg,
.catlinks,
.mw-search-formheader,
table,
fieldset#mw-searchoptions
{
border: 1px /*[[bds]]*/ /*[[border]]*/ !important
}
div.mw-warning-with-logexcerpt
{
border:2px /*[[bds]]*/ /*[[border]]*/!important
}

#gumax-page,
#gumax-special-tools ul li a,
#gumax-credit-list ul li a,
#contentSub, #contentSub2,
#footer,
#gumax-nav,
#pagehistory li,
#gumax-footer,
textarea,
div.tooltip,
div#content,
td.gumax-content-td-center,
td.gumax-content-td-topleft,
td.gumax-content-td-topright,
li.selected a,
div.noarticletext,
td,
form,
tr,
li,
label,
textarea#wpTextbox1,
h4,
input
{
background: transparent !important;
color: /*[[csa]]*/ !important;
}

.catlinks,
.autocomment,
.newpage,
.minor,
.bot
{
color: /*[[csa]]*/ !important;
}

h1,
h2,
h3,
th,
li,
a,
a.external,
#preftoc a,
#gumax-p-login ul li a,
#gumax-content-actions ul li a,
.mw-search-formheader div.search-types ul li.current a,
.gumax-firstHeading
{
color:/*[[textcolor]]*/
}


h2,
h3,
tbody tr,
fieldset#mw-searchoptions,
#preferences,
#toc,
#gumax-content-actions ul li.selected a,
#gumax-content-actions ul li a,
.mw-search-formheader,
.catlinks,
.prefsection legend
{
background:none!important
}
.wikitable th,
table
{
background: /*[[csc]]*/ !important;
}

#gumax-nav a,
#gumax-p-search form #searchGoButton,
#gumax-p-search form #mw-searchButton,
#gumax-p-search form #searchInput
{
text-shadow: 1px 1px 4px /*[[txtsh]]*/ ;
color: /*[[csa]]*/
}
#gumax-p-search form #searchInput,
#gumax-p-search form #searchGoButton,
#gumax-p-search form #mw-searchButton
{
box-shadow: 1px 1px 4px /*[[elmsh]]*/
}

#content
{
border: none;
border-top: 1px /*[[bds]]*/ /*[[border]]*/;
border-bottom: 1px /*[[bds]]*/ /*[[border]]*/;
}

/*Restoore the Origina text Color Scheme from Shuu Default CSS*/
a:visited {
color: #bd96ff;
}
a:active {
color: #faa700;
}
a:hover {
text-decoration: underline;
}
a.stub {
color: #772233;
}
a.new, #p-personal a.new {
color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
color: #a55858;
}
.mw-plusminus-pos {
color: #00bf00;
}
  
}

@-moz-document url-prefix("https://qchat.rizon.net/") {
div.tabbar,
div,
a.tab.tab-unselected,
a.tab.tab-selected,
.qwebirc-qui .lines,
.topic,
.qwebirc-qui .topic,
.qwebirc-qui .nicklist,
.qwebirc-qui .nicklist a,
.qwebirc-qui .input input.keyboard-input
{
background: /*[[csc]]*/ !important;
color: /*[[csa]]*/ !important;
text-shadow: 1px 1px 4px /*[[txtsh]]*/ ;
}

span.Xc7 a {color: /*[[textcolor]]*/ !important;}

}
